<div class="" *ngIf="identity">

        <!-- Blank Header -->
        <div class="content-header">
            <div class="header-section">
                <h1>
                    <i class="fa fa-list-ol"></i>{{titulo}}<br><small>En esta sección pudes ver las divisas!</small>
                </h1>
            </div>
        </div>
        <ul class="breadcrumb breadcrumb-top">
            <li>Home</li>
            <li>Blog</li>
            <li><a href="">{{titulo}}</a></li>
        </ul>
        <!-- END Blank Header -->
      
        <!-- Example Block -->
        <div class="block">
            <!-- Example Title -->
            <div class="block-title">
                <h2>{{titulo}} En Pesos</h2> 
            </div>
            <!-- END Example Title -->
              <div class="table-responsive remove-margin-bottom">
                <table id="table-usuarios-app" class="table table-vcenter table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">Concepto</th>
                            <th class="text-center">Costo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">Cableado estructurado</td>
                            <td class="text-center">$ 1.590.000</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-center">Sellamiento</td>
                            <td class="text-center">$ 560.000</td>
                        </tr>
                        <tr>
                            <td class="text-center">3</td>
                            <td class="text-center">Mano de obra</td>
                            <td class="text-center">$ 2.500.000</td>
                        </tr>
                        <tr>
                            <td class="text-center">4</td>
                            <td class="text-center">Fibra Óptica</td>
                            <td class="text-center">$ 5.680.000</td>
                        </tr>
                        <tr>
                            <td class="text-center">5</td>
                            <td class="text-center">Decodificador</td>
                            <td class="text-center">$ 2.200.000</td>
                        </tr>
                        <tr>
                            <td class="text-center"></td>
                            <td class="text-center">Total</td>
                            <td class="text-center">$ 12.530.000</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
              
            <!-- Example Content -->
      

        </div>

          <!-- Example Block -->
          <div class="block">
                <!-- Example Title -->
                <div class="block-title">
                    <h2>{{titulo}} En {{divisa}}</h2> 
                </div>
                <!-- END Example Title -->
                  <div class="table-responsive remove-margin-bottom">
                    <table id="table-usuarios-app" class="table table-vcenter table-condensed table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th class="text-center">Concepto</th>
                                <th class="text-center">Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Cableado estructurado</td>
                                <td class="text-center">{{cableado | currency}}</td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-center">Sellamiento</td>
                                <td class="text-center">{{sellamiento | currency}}</td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">Mano de obra</td>
                                <td class="text-center">{{mano | currency}}</td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td class="text-center">Fibra Óptica</td>
                                <td class="text-center">{{fibra | currency}}</td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td class="text-center">Decodificador</td>
                                <td class="text-center">{{deco | currency}}</td>
                            </tr>
                            <tr>
                                <td class="text-center"></td>
                                <td class="text-center">Total</td>
                                <td class="text-center">{{total | currency}}</td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                  
                <!-- Example Content -->
          
    
            </div>

      
      </div>

      
      